*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-20{
    margin-top: 20px;
}

/* header */

header div {
    position: relative;
    height: 130px;
    background-color: #6495ed; 
    background-image: url("../img/pattern.png");
}

header img {
    width: 300px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

/* main */

main{
    margin: 5px;
}

/* section1 */

section h1 {
    font-size: 65px;
}

.text{
    color: grey;
}

.color{
    color: #00a6ff;
}

/* section2 */

.bg-color{
    background-color: yellow;
}

.container{
    margin-bottom: 20px;
}

ul{
    margin-left: 10px;
}

table{
    margin-bottom: 20px;
    border-collapse: collapse;
}

.tw-50{
    width: 20%;
}

table th{
    color: white;
    background-color: #6495ed;
}

.bg-color-table{
    background-color: #00d9ff;
}

/* footer */

footer{
    margin: 5px;
}

h4{
    margin-bottom: 10px;
}

.img1{
    background-image: url(../img/monitor.jpg);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    color: white;
    background-repeat: none;
}

.img2{
    background-image: url(../img/graph.jpg);
    width: 200px;
    height: 200px;
    color: white;
    background-repeat: none;
}

